body {
  font-family: Arial;
  background: #2a4667;
  padding-top: 110px;
  margin: 0;
}

.navbar {
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    color: #222; 
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #c00000;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-right: 80px;
}

.logo {
    height: 50px;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Input */
textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 18px;
  margin-top: 10px;
  background: #0066cc;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #004c99;
}

/* Canvas */
#deg-canvas {
  border: 1px solid #aaaaaa;
  width: 100%;
  height: 350px;
  margin-top: 20px;
}

/* Vis.js container */
#vis-container {
  height: 400px;
  border: 1px solid #cccccc;
  margin-top: 15px;
  border-radius: 5px;
}

.footer {
  background: #2f3b52;
  color: #eee;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
}
