* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar nav a {
    margin: 0 10px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #c00000; 
}

.logo {
    height: 50px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right p {
    font-size: 16px;
    font-weight: 600;
}


.container {
    max-width: 1200px;
    margin: 120px auto 40px; 
    padding: 0 20px;
}

h1, h2, h3 {
    color: #003366;
    margin-bottom: 15px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
}

p, li {
    font-size: 18px;
    color: #222;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}


.graf-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.graf-container img {
    flex: 1 1 400px;
    max-width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.graf-text {
    flex: 1 1 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.graf-text h3 {
    color: #003366;
    margin-bottom: 15px;
}

/* FOOTER */
.footer {
    background: #2f3b52;
    color: #eee;
    padding: 30px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* RESPONSIF */
@media screen and (max-width: 900px) {
    .graf-container {
        flex-direction: column;
        align-items: center;
    }
    .graf-text {
        width: 100%;
    }
}
