* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar nav a {
    margin: 0 10px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #c00000; 
}

.right {
    display: flex;
    align-items: center;   
    gap: 10px;             
}

.logo {
    height: 50px;          
    border: none;          
    box-shadow: none;      
}

.right p {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;             
}


/* CONTAINER MATERI */
.container {
    max-width: 1200px;
    margin: 120px auto 40px; 
    padding: 0 20px;
}

h1, h2, h3 {
    color: #003366;
    margin-bottom: 15px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
}

p, li {
    font-size: 18px;
    color: #222;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

/* IMAGE */
img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* PPT */
.ppt-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.ppt-container img {
    max-width: 400px;
}

/* VIDEO */
.video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 20px auto 40px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    
    
}

/* CARD */
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 30px;
}

.card img {
    max-width: 550px;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #2f3b52;
    color: #eee;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

.footer-title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 90%;
    }
}